.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 450px;
    overflow: scroll;
    justify-content:baseline;
}

.container::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

form * {
    font-size: xx-large;
}

.app {
    border: 2px solid black;
    width: 500px;
    border-radius: 25px;
    margin: auto;
}

button {
    margin: 20px;
}